<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="javascripts/angular/angular.min.js"></script>
    <script src="javascripts/phone.js"></script>
    <link rel="stylesheet" href="stylesheets/mui.min.css">
</head>
<script>
    window.onload=function(){
        var placeholder = document.querySelector(".mui-placeholder");
        var input = document.querySelector(".mui-input-clear");
        placeholder.onclick = function () {
            this.style.width = "20px";
            input.focus();
        }
        input.onblur = function () {
            placeholder.style.width = "100%";
            input.value="";
        }
    }
</script>
<body>
<header class="mui-bar mui-bar-nav">
    <h1 class="mui-title">通讯录</h1>
</header>
<div ng-app="myapp">
<div ng-controller="phone">
    <ul class="mui-table-view"style="top:44px">
        <div class="mui-input-row mui-search">
            <input type="search" class="mui-input-clear" placeholder="" data-input-clear="15" data-input-search="15"ng-model="search"><span class="mui-icon mui-icon-clear mui-hidden"></span><span class="mui-placeholder"><span class="mui-icon mui-icon-search"></span><span></span></span>
        </div>
        <li class="mui-table-view-cell"ng-show="!type==''"ng-click="show()">显示全部</li>
        <li class="mui-table-view-cell"ng-repeat="item in data |filter:{en:type}|filter:{en:search} track by $index">
            <div style="background:#999;width: 30px;height: 30px;border-radius: 50%;line-height: 30px;text-align: center;">{{item.en}}</div>
            <a class=""ng-repeat="item1 in item track by $index"href="tel:item1.phone">
                <span>{{item1.name}}</span>
                <span>{{item1.phone}}</span>
            </a>
        </li>
    </ul>
    <div style="position:fixed;right:10px;top:44px;width:20px;z-index:999">
        <div ng-repeat="item in data"ng-click="filter(item.en)">
            {{item.en}}
        </div>
    </div>
</div>
</div>
</body>
</html>