body,html{
	width: 100%;height: 100%;
}
body,html,a,li,ul{
	padding: 0;margin: 0;list-style: none;text-decoration: none;
}
body{
	background: #232b36;
}
.header{
	height: 0.53rem;width: 100%;margin-top:0.4rem;
}
.box{
	height: 100%;padding: 0 0.4rem;position: relative;
}
.icon-fanhui:before{
	font-size:0.38rem;color:#1d5151;float:left;position: absolute;left:0.4rem;top:0;
}
input{
	background:#4b525c;border:0;width:6.3rem;height: 100%;border-radius:0.1rem;position: absolute;left:0.8rem;top:0;
}
.icon-maikefeng:before{
	font-size:0.38rem;color:#08fecd;position: absolute;right:0.4rem;top:0.07rem;
}
.sousuo_span{
	margin-left: 0.7rem;font-size:0.26rem;color:#b6c6c4;
}
.con{
	height: 0.42rem;margin-left: 0.7rem;margin-top: 0.1rem;
}
.sy{
	float:left;height: 100%;width: 1.45rem;color:#09dfb5;font-size: 0.24rem;line-height: 0.42rem;text-align: center;border-radius: 0.2rem;border:0.01rem solid #d0e1de;
}
.lh{
	margin-left:0.2rem;float:left;height: 100%;width:0.83rem;color:#d0e1de;font-size: 0.24rem;line-height: 0.42rem;text-align: center;border-radius: 0.2rem;border:0.01rem solid #d0e1de;
}
.hyb{
	margin-left:0.2rem;float:left;height: 100%;width:1.09rem;color:#d0e1de;font-size: 0.24rem;line-height: 0.42rem;text-align: center;border-radius: 0.2rem;border:0.01rem solid #d0e1de;
}
.zxy{
	margin-left:0.2rem;float:left;height: 100%;width:1.09rem;color:#d0e1de;font-size: 0.24rem;line-height: 0.42rem;text-align: center;border-radius: 0.2rem;border:0.01rem solid #d0e1de;
}